.home {
  display: flex;
  text-align: center;
  padding: 70px;
  background: #282c34;
  color: white;
  height: 75vh;
}
.left-side {
  width: 48%;
  padding: 20px;
  box-sizing: border-box;
  color: yellowgreen;
}
.right-side {
  padding: 70px;
  font-size: 30px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  color: yellowgreen;
}
.pro-pic {
  width: 350px;
  height: 350px;
  border-radius: 50px;
}

.pro-pic:hover {
  transform: scale(1.1);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.p-home {
  font-size: 70px;
}
